.btn--gray {
    background-color: #363636;
}

.btn--orange {
    background-color: #CD3D0F;
}

.btn--blue {
    background-color: #2D64E6;
}

.btn--blue-gray {
    color: #2D64E6;
    background-color: #D9DADC;
    border: 0;
}

.fw-600 {
    font-weight: 600;
}

img {
    max-width: 100%;
}

select {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';  
}

ul , ol {
    list-style: none;
}


/* HEADER */
header {
    display: contents;
}

header .header__navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.header__banner {
    height: 35px;
}

.header__sony-logo {
    width: 60px;
}

.header__lens-icon {
    width: 23px;
}

.header__dropdown {
    color: black !important;
}

.header__dropdown::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__dropdown:hover::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(img/chevron-down-solid-hover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* JUMBO RETURNAL */

.jumbo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-returnal {
    background-image: url(img/jumbo-bg.png);
}

.jumbo.game-returnal .row {
    min-height: 590px;
}

.jumbo__card-img {
    width: 200px;
}

/* GAME LIST */

.game-list__img-wrapper {
    border-radius: 18px;
    overflow: hidden;
    border: 2px solid white; 
    outline: 2px solid white;
    transition: all 500ms;
    cursor: pointer;
}

.game-list__img {
    border-radius: 15px;
}

.game-list__img-wrapper.active , .game-list__img-wrapper:hover { 
    outline: 2px solid #2D64E6;
}

#game-list [class*="col"]:hover .game-list__img-wrapper {
    transform: translateY(-10px);
}

/* PLAY 5 */

.play-5__nolimits {
    font-size: 13px;
}

.play-5__item {
    opacity: 0.5;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.play-5__item:hover {
    opacity: 1;
}

.play-5__item.active {
    border-bottom: 1px solid #2D64E6;
    opacity: 1;
}

.play-5__img-thumb {
    max-width: 100px;
}


/* JUMBO IT TAKES TOW */

.game-it-takes-two {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo.game-it-takes-two .row {
    min-height: 620px;
}


/* NEW RELEASES */

#new-releases {
    background-color: #1F1F1F;
}

.new-releases__img-wrapper {
    border-radius: 20px;
    overflow: hidden;
}


/* PLAY SERVICE */

.play-service.play-plus{
    background-color: #BEBCBB;
}

.play-service.play-now {
    color: white;
    background-color: #161C3B;
}

.play-service__img {
    max-width: 320px;
}


/* FOOTER */

footer {
    background-color: #00439C;
}

footer select {
    color: white;
}

.footer__play-logo {
    width: 110px;
}

footer li {
    line-height: 30px;
}

.footer__sie-logo {
    width: 135px;
}