.btn--gray {
    background-color: #363636;
}

.btn--orange {
    background-color: #CD3D0F;
}

.btn--blue {
    background-color: #2D64E6;
}

.fw-600 {
    font-weight: 600;
}
/* HEADER */

.header__banner {
    height: 35px;
}

.header__sony-logo {
    width: 60px;
}

.header__lens-icon {
    width: 23px;
}

.header__dropdown {
    color: black !important;
}

/* JUMBO */

#jumbo-1 {
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
}

.jumbo__card-img {
    width: 200px;
}

/* GAME LIST */

.game-list__img-wrapper {
    border-radius: 18px;
    overflow: hidden;
}

.game-list__img {
    max-width: 100%;
    border-radius: 15px;
}

.game-list__img-wrapper.active {
    border:2px solid #0072CE;
    padding: 2px;
}

/* PLAY 5 */

.play-5__nolimits {
    font-size: 13px;
}

.play-5__img {
    max-width: 100%;
}