.btn--gray {
    background-color: #363636;
}

.btn--orange {
    background-color: #CD3D0F;
}

/* HEADER */

.header__banner {
    height: 35px;
}

.header__sony-logo {
    width: 40px;
}

.header__lens-icon {
    width: 23px;
}

.header__dropdown {
    color: black !important;
}

/* JUMBO */

#jumbo-1 {
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
}

.jumbo__card-img {
    width: 200px;
}

/* GAME LIST */

.game-list__img-wrapper {
    border-radius: 15px;
    overflow: hidden;
}

.game-list__img {
    max-width: 100%;
}